# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=rides
DB_USER=appuser
DB_PASSWORD=R!deH@il_2026_Db

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# New Relic (Observability)
NEW_RELIC_ENABLED=true
NEW_RELIC_LICENSE_KEY=your-newrelic-license-key-here